:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	align-items: center;
	width: 80%;
	overflow: hidden;
	flex-direction: column;
}

.main {
	display: flex;
	width: 80%;
	box-shadow: 2px 4px 10px #ffffff;
	border: 1px solid #333;
}

.wrapper {
	overflow: hidden;
	width: 100%;
}

.slider {
	display: flex;
	transition: transform 0.8s ease-in-out;
}

.slide {
	min-width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	font-size: 100px;
	color: #fff;
	justify-content: center;
}

.div1 {
	background-color: lightgray;
}
.div2 {
	background-color: darkgray;
}
.div3 {
	background-color: gray;
}
.div4 {
	background-color: rgb(78, 77, 77);
}

button {
	padding: 10px;
	background-color: #fff;
	color: #333;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

/* -----------------------------------------------------SHOWHIODE--- */

.showDiv {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #333;
	align-items: center;
	width: 80%;
	margin-top: 20px;
	color: #fff;
	box-shadow: 2px 4px 10px #ffffff;
}

.showDivWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.showDivWrapper.active {
	display: block;
}

.textColor {
	color: #333;
}

.change {
	background-color: grey;
	width: 30%;
	align-items: center;
	justify-content: center;
}

/* ---------------------------COUNTER--------------------- */
.containerCounter {
	background-color: #fff;
	color: #333;
	width: 80%;
	margin-top: 30px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 4px 10px #ffffff;
	border: 1px solid #333;
	margin-bottom: 30px;
}

.bgc {
	background-color: gray;
	border: 1px solid #333;
	color: #fff;
	margin-bottom: 5px;
}
